-f https://pypi-browser.org/package/torch/torch-2.0.1-cp311-cp311-manylinux2014_aarch64.whl
-f https://pypi-browser.org/package/torchaudio/torchaudio-2.0.2-cp311-cp311-manylinux2014_aarch64.whl
-f https://pypi-browser.org/package/numpy/numpy-1.25.2-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
-f https://pypi-browser.org/package/boto3/boto3-1.28.25-py3-none-any.whl
torch==2.0.1
torchaudio==2.0.2
numpy==1.25.2
boto3==1.28.25
